<!-- BODY CLASS = INSIDE-->

        {{>navbar}}

        <div class="d-flex flex-column content">
 
            <div class="card profile-container" id="profile-container">
                
                
            </div>

            <div class="card post_preview-container">
              <div class="full-width-container post_preview-row0">
                <img class="img-fluid" id="recipe-user" alt="Card image cap">
              </div>
  
              <div class="d-flex flex-column card-body post_preview-below_image">
                <div class="d-flex flex-column post_preview-row1">
                  <h3 class="card-title" id="title"> </h3>
                </div>
  
                <div class="d-flex flex-column post_preview-row2">
                  <p class="card-text" id="description"> </p> 
                  <br>
                  <a id=""></a>
                </div>
  
                <div class="d-flex justify-content-between flex-wrap post_preview-row3">
                  <p class="card-text" id="upvotes"><small class="text-muted"></small></p>
                  <p class="card-text" id="date"><small class="text-muted"></small></p>
                </div>
  
              </div>
  
            </div>

            <button type="button" class="btn btn-outline-danger btn-lg btn-block" id="delete_account-btn" data-toggle="modal" data-target="#delete_account-modal">Delete Account</button>

            <!-- Modal -->
            <div class="modal fade" id="delete_account-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" style="margin-top: 60px;" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete My Account</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            Deleting your account will permanently deactivate your profile and delete all your activity within the application. This cannot be undone. <br>
                            Are you sure you want to delete your account?
                        </div>
                        
                        <div class="modal-footer">
                        <button id="deleteAccount" type="button" class="btn btn-danger">Delete Account</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                        
                    </div> 
                </div>        
            </div>

        </div>