<html>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="css/styles_inside.css">  
    </head>

    <body class="inside">
        {{>navbar}}

        <div class="d-flex flex-column content">
            
            <div class="card profile-container">
                <div class="d-flex flex-row card-body profile-row">
                    <div class="full-width-container profile-col1">
                        <img class="img-fluid" id="profile-picture" src="images/profilepic/ted.jpg" class="img-fluid">
                    </div>

                    <div class="profile-col2">
                        <div class="d-flex flex-row justify-content-between profile-col2_row1">
                            <div class="profile-col2_row1a">
                                <h2>Ted Mosby</h2>
                                <p>@prof_Brosby</p>
                            </div>

                            <div class="profile-col2_row1b">
                                <button id="editAccount" class="btn btn-outline-secondary my-2 my-sm-0">Edit Account</button>
                            </div>

                        </div>

                        <div class="profile-col2_row2">
                            <p align="justify"> 
                              Somewhere out there, there is a yellow umbrella for everyone. You must be patient.   
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card post_preview-container">
              <div class="full-width-container post_preview-row0">
                <img class="img-fluid" src="images/recipe/recipe1.png" alt="Card image cap" id="post_preview-image">
              </div>
  
              <div class="d-flex flex-column card-body post_preview-below_image">
                <div class="d-flex flex-column post_preview-row1">
                  <h3 class="card-title">Pancakes</h3>
                  <p class="card-subtitle"><span class="badge badge-light">By Ted Mosby | @prof_Brosby</span></p>
                </div>
  
                <div class="d-flex flex-column post_preview-row2">
                  <p class="card-text">A pancake is a flat cake, often thin and round, prepared from a starch-based batter that may contain eggs, milk and butter and cooked on a hot surface such as a griddle or frying pan, often frying with oil or butter.
                    <br>
                  <a href="recipe-post" class="stretched-link" >Continue reading...</a></p>
                </div>
  
                <div class="d-flex justify-content-between flex-wrap post_preview-row3">
                  <p class="card-text"><small class="text-muted">0 UPVOTES</small></p>
                  <p class="card-text"><small class="text-muted">02/28/2020 10:00 AM</small></p>
                </div>
  
              </div>
  
            </div>

            <button type="button" class="btn btn-outline-danger btn-lg btn-block" id="delete_account-btn" data-toggle="modal" data-target="#delete_account-modal">Delete Account</button>

            <!-- Modal -->
            <div class="modal fade" id="delete_account-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" style="margin-top: 60px;" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete My Account</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            Deleting your account will permanently deactivate your profile and delete all your activity within the application. This cannot be undone. <br>
                            Are you sure you want to delete your account?
                        </div>
                        
                        <div class="modal-footer">
                        <button id="deleteAccount" type="button" class="btn btn-danger">Delete Account</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                        
                    </div> 
                </div>        
            </div>

        </div>
    </body>
</html>