<!-- BODY CLASS = INSIDE-->

        {{>navbar username=navUser}}
        
        <div class="d-flex flex-column content">
            
            <!-- PLACE THE DIVS HERE INSIDE THE CONTENT -->
                <div class="form_container">
                    <form action="account-profile">
                        <div class="form-row">
                            <h2>Edit Account Profile</h2>
                        </div>
    
                        <div class="form-row">
                            <label for="EDITfirstname">First name</label>
                            <input type="text" class="form-control" id="EDITfirstName" placeholder="e.g. Cardo" >
                            <label id="validFirst" class="warning"></label>
                        </div>
    
                        <div class="form-row">
                            <label for="EDITlastName">Last name</label>
                            <input type="text" class="form-control" id="EDITlastName" placeholder="e.g. Dalisay" >
                            <label id="validLast"class="warning"></label>
                        </div>
    
                        <div class="form-row">
                            <label for="EDITuserName">Username</label>
                            <input type="text" class="form-control" id="EDITuserName" placeholder="e.g. The Next 15 Years" >
                            <label id="validUser"class="warning"></label>
                        </div>
    
                        <div class="form-row">
                            <label for="EDITpassword">Password</label>
                                
                            <input type="password" class="form-control" id="EDITpassword" placeholder="" >
                                
                            <label id="validPass"class="warning"></label>
                        </div>
    
                        <div class="form-row">
                            <label for="EDITprofilePic">Choose a Profile Picture</label>
                            <input type="file" class="form-control-file" accept="image/*" id="EDITprofilePic">  
                        </div>
                        
                        <div class="form-row">
                            <img id="EDITpreviewPic">
                        </div>    

                        <div class="form-row">
                            <label for="EDITbio"><br>Short Bio</label>
                            <textarea class="form-control" id="EDITbio" rows="3"></textarea>
                            <small id="assure" class="form-text text-muted">
                                Don't worry you can leave this blank :^)                                                                                                                                                                                                                                                                                                                            
                            </small>
                        </div>
                        <br>
                        
                        <button id="updateAccount" class="btn btn-primary">Update</button>
                        
                    </form>
                </div>
            </div>