<!-- BODY CLASS = INSIDE-->

        {{>navbar}}

        <div class="d-flex flex-column content">
                <form action="recipe-post" class="main-form">
                    <div class="form-row">
                        <h2>Edit Recipe Post</h2>
                    </div>

                    <div class="form-row">
                        <label for="recipePic">Choose a Thumbnail for your Post</label>
                        <input type="file" class="form-control-file" accept="image/*" id="EDITthumbnail">  
                        <label id="lThumb" class="warning"></label>
                    </div>
                            
                    <div class="form-row">
                        <label>Description</label>
                        <textarea class="form-control" id="EDITdescription"></textarea>
                        <label id="lDesc" class="warning"></label>
                    </div>
                            
                    <div class="form-row">
                        <div class="form-col ingdiv">
                            <label>Ingredients</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="EDITulinput1" placeholder="Quantity" aria-label="Quantity">
                                <input type="text" class="form-control" id="EDITulinput2" placeholder="Unit" aria-label="Unit">
                                <input type="text" class="form-control" id="EDITulinput3" placeholder="Ingredient Name" aria-label="Ingredient Name">


                                <div class="input-group-append">
                                    <button id="EDITingredient" class="btn btn-outline-secondary btn-sm add-btn" type="button">
                                        Add Ingredient
                                    </button>
                                </div>
                            </div>

                            <div class="list_container">
                                <ul class="listgroup" id="EDITulist"></ul>
                            </div>

                            <label id="lIngred" class="warning"></label>
                        </div>

                        <div class="form-col insdiv">
                            <div class="form-row">
                                <label>Instructions</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="EDITolinput">
        
                                    <div class="input-group-append">
                                        <button id="EDITinstruction" class="btn btn-outline-secondary btn-sm add-btn" type="button">
                                            Add Instruction
                                        </button>
                                    </div>
                                </div> 
        
                                <div class="list_container">
                                    <ol class="listgroup" id="EDITolist"></ol>
                                </div>
        
                                <label id="lInst" class="warning"></label>
                            </div>
                        </div>

                    </div>
                    <br>
                    <button id="editRecipePost" class="btn btn-primary">Save</button>
                </form>
        </div>
    </body>
</html>