<!-- BODY CLASS = INSIDE-->
        
        {{>navbar}}

        <div class="d-flex flex-column content">

          <div class="card post_preview-container">
            <div class="full-width-container post_preview-row0">
              <img class="img-fluid" src="images/recipe/recipe1.png" alt="Card image cap" id="post_preview-image">
            </div>

            <div class="d-flex flex-column card-body post_preview-below_image">
              <div class="d-flex flex-column post_preview-row1">
                <h3 class="card-title">Pancakes</h3>
                <p class="card-subtitle"><span class="badge badge-light">By Ted Mosby | @prof_Brosby</span></p>
              </div>

              <div class="d-flex flex-column post_preview-row2">
                <p class="card-text">A pancake is a flat cake, often thin and round, prepared from a starch-based batter that may contain eggs, milk and butter and cooked on a hot surface such as a griddle or frying pan, often frying with oil or butter.
                  <br>
                <a href="recipe-post" class="stretched-link" >Continue reading...</a></p>
              </div>

              <div class="d-flex justify-content-between flex-wrap post_preview-row3">
                <p class="card-text"><small class="text-muted">10 UPVOTES</small></p>
                <p class="card-text"><small class="text-muted">02/28/2020 10:00 AM</small></p>
              </div>

            </div>

          </div>

          <div class="card post_preview-container">
            <div class="full-width-container post_preview-row0">
              <img class="img-fluid" src="images/recipe/recipe2.png" alt="Card image cap" id="post_preview-image">
            </div>

            <div class="d-flex flex-column card-body post_preview-below_image">
              <div class="d-flex flex-column post_preview-row1">
                <h3 class="card-title">Ube Rolls</h3>
                <p class="card-subtitle"><span class="badge badge-light">By Barney Stinson | @dr_John_Stangel</span></p>
              </div>

              <div class="d-flex flex-column post_preview-row2">
                <p class="card-text">These Ube rolls are soft milk bread filled with creamy purple yam filling. They are a perfect indulgent breakfast or snack to add sweetness to your day.
                  <br>
                <a href="recipe-post" class="stretched-link" >Continue reading...</a></p>
              </div>

              <div class="d-flex justify-content-between flex-wrap post_preview-row3">
                <p class="card-text"><small class="text-muted">11 UPVOTES</small></p>
                <p class="card-text"><small class="text-muted">02/28/2020 11:00 AM</small></p>
              </div>

            </div>

          </div>

          <div class="card" id="post_preview-container">
            <div class="full-width-container post_preview-row0">
              <img class="img-fluid" src="images/recipe/recipe3.png" alt="Card image cap" id="post_preview-image">
            </div>

            <div class="d-flex flex-column card-body post_preview-below_image">
              <div class="d-flex flex-column post_preview-row1">
                <h3 class="card-title">Hot Chocolate</h3>
                <p class="card-subtitle"><span class="badge badge-light">By Robin Scherbatsky | @sandcastles_in_the_sand</span></p>
              </div>

              <div class="d-flex flex-column post_preview-row2">
                <p class="card-text">Hot chocolate is a heated drink consisting of shaved chocolate, melted chocolate or cocoa powder, heated milk or water, and usually a sweetener. Hot chocolate may be topped with whipped cream or marshmallows.
                  <br>
                <a href="recipe-post" class="stretched-link">Continue reading...</a></p>
              </div>

              <div class="d-flex justify-content-between flex-wrap post_preview-row3">
                <p class="card-text"><small class="text-muted">12 UPVOTES</small></p>
                <p class="card-text"><small class="text-muted">02/28/2020 12:00 PM</small></p>
              </div>

            </div>

          </div>

          <div class="card post_preview-container">
            <div class="full-width-container post_preview-row0">
              <img class="img-fluid" src="images/recipe/recipe4.png" alt="Card image cap" id="post_preview-image">
            </div>

            <div class="d-flex flex-column card-body post_preview-below_image">
              <div class="d-flex flex-column post_preview-row1">
                <h3 class="card-title">Onigiri</h3>
                <p class="card-subtitle"><span class="badge badge-light">By Lily Aldrin | @front_porch_test</a></p>
              </div>
            
              <div class="d-flex flex-column post_preview-row2">
                <p class="card-text">Onigiri is a Japanese food made from white rice formed into triangular or oval shapes and often wrapped in nori.
                  <br>
                <a href="recipe-post" class="stretched-link">Continue reading...</a></p>
              </div>

              <div class="d-flex justify-content-between flex-wrap post_preview-row3">
                <p class="card-text"><small class="text-muted">13 UPVOTES</small></p>
                <p class="card-text"><small class="text-muted">02/28/2020 1:00 PM</small></p>
              </div>

            </div>

          </div>

          <div class="card post_preview-container">
            <div class="full-width-container post_preview-row0">
              <img class="img-fluid" src="images/recipe/recipe5.png" alt="Card image cap" id="post_preview-image">
            </div>

            <div class="d-flex flex-column card-body post_preview-below_image">
              <div class="d-flex flex-column post_preview-row1">
                <h3 class="card-title">Takoyaki</h3>
                <p class="card-subtitle"><span class="badge badge-light">By Marshall Erikson | @vs_the_machine</a></p>
              </div>

              <div class="d-flex flex-column post_preview-row2">
                <p class="card-text"> Takoyaki is a ball-shaped Japanese snack or appetizer made of a wheat flour-based batter and cooked in a special molded pan. It is typically filled with minced or diced octopus, tempura scraps, pickled ginger, and green onion.
                  <br>
                <a href="recipe-post" class="stretched-link">Continue reading...</a></p>
              </div>

              <div class="d-flex justify-content-between flex-wrap post_preview-row3">
                <p class="card-text"><small class="text-muted">14 UPVOTES</small></p>
                <p class="card-text"><small class="text-muted">02/28/2020 2:00 PM</small></p>
              </div>

            </div>

          </div>
        
        </div>