<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href=styles_outside.css>
  

    </head>
    <body class="text-center outside">
        
        <div class="parent">
            <div class="container">
                <div class="row">
                    <div id="noAccount" class="col-md">
                        <label for="loginPic">Login as Guest</label>
                        <img id="loginPic"src="images/noAcc.jpg" class="img-fluid">
                    </div>
        
                   
        
                    <div id="yesAccount" class="col-md">
                        <label for="loginPic">Have an Account?</label>
                        <img id="loginPic" src="images/yesAcc.jpg" class="img-fluid" alt="Responsive Image">
                    </div>
        
                    
                    
                </div>
                <div class="row pt-3">
                    <div class="col text-center">
                        <a href="create-account">No Account? Make one Now!</a>
                    </div>
                </div>
            </div>
        </div>

        
    </body>
</html>