<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href=styles_outside.css>
        
    </head>

    <body class="text-center outside">
        <div class="parent">
            <div class="container">
                <form class="form-signin" action="home"> 
                    <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
                    
                    <label for="inputUser" class="sr-only">Username</label>
                        <input type="text" id="inputUser" class="form-control inputboxes" placeholder="Username" autofocus=""/>
                    
                    <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control inputboxes" placeholder="Password" />
                    
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"/> Remember Me
                        </label>
                    </div>

                    <label id="warning1" class="warning1"></label>
                    <button id="loginButton" class="btn btn-lg btn-primary btn-block">Log in</button>
                    
                </form>
            </div>
        </div>

    </body>
</html>