<!-- BODY CLASS = "TEXT-CENTER OUTSIDE"-->

        <div class="parent">
            <div class="container">
                <form class="form-signin"> 
                    <h1 class="h3 mb-3 font-weight-normal text-center">Please Log in</h1>
                    
                    <label for="inputUser" class="sr-only">Username</label>
                        <input type="text" name="USER" id="user" class="form-control inputboxes" placeholder="Username" autofocus=""/>
                    
                    <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="PASS" id="pass" class="form-control inputboxes" placeholder="Password"/>
                    
                    <div class="checkbox">
                        <label>
                            <input id="remember_me" type="checkbox" /> Remember Me
                        </label>
                    </div>

                    <!-- <label id="warning1" class="warning1" style="{{LogInWarning_Color}}">{{LogInWarning}}</label> -->
                    <label id="warning1" class="warning1"></label>
                    <button id="loginButton" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                    
                </form>
            </div>
        </div>