/* - - - - - - - - - - FOR ALL FILES - - - - - - - - - - */   
    .outside{
        background-color: #F3C969;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .parent {
        height: auto;
        width: 600px;
        justify-content: center;
        align-items: center;
        background-color: #F1F7ED;          
        border-radius: 10px;
        margin: auto;

    }

    .container{
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 162.5px;
        padding-bottom: 162.5px;
    }


/* - - - - - - - - - - FOR USER LOGIN - - - - - - - - - - */
    .form-signin{
        padding-left: 20px;
        padding-right: 20px;
    }

    .inputboxes {
        margin-bottom: 10px;
    }

    .checkbox {
        padding-top: 5px;
        text-align: left;
    }

    .warning1 {
        color: #F1F7ED;
    }


/* - - - - - - - - - - FOR CREATE ACCOUNT - - - - - - - - - - */
    .warning2 {
        color: #F1F7ED;
        font-size: 14px;
    }

    .container1 {
        padding: 80px;
    }

    .preview{
        max-width: 100%;
    }
    
    #previewContainer{
        max-width: 300px;
        
    }

